&.strategies__section {
    background-color: #333333;

    .container__section {
        .strategies__title {
            color: #FFF;
            font-weight: 400;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            margin-bottom: 2.625rem;
        }

        .container__strategies {
            max-width: 1140px;
            padding: 0 15px;
            margin: 0 auto;

            .display__strategies {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

                .content__strategies {
                    background-color: #141414;
                    border: solid 1px $primary;
                    border-radius: 19px;
                    padding: 0 2.5rem 2.5rem;
                    margin: 3.9375rem 0;
                    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.25);

                    &:nth-of-type(odd) {
                        background-color: #212121;
                    }

                    .icon__strategies {
                        background-color: $primary;
                        height: 84px;
                        width: 84px;
                        border-radius: 50%;
                        margin: -42px auto 22.5px auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .info__strategies {

                        .title__strategies {
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.25rem;
                            text-align: center;
                            color: #FFF;
                            margin-bottom: 18.45px;
                        }
                        .description__strategies {
                            font-weight: 300;
                            font-size: 0.9rem;
                            align-items: center;
                            color: #FFF;
                            text-align: center;

                        }
                    }

                    @media screen and (max-width: 576px) {
                        margin-bottom: 2rem;
                    }
                }

                @media screen and (max-width: 992px) {

                }

                @media screen and (max-width: 768px) {
                    
                }

                @media screen and (max-width: 576px) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}