@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$primary: #DECE84;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container__section{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 992px) {
        max-width: 960px;
    }
    
    @media screen and (max-width: 768px) {
        max-width: 720px;
    }
    
    @media screen and (max-width: 576px) {
        max-width: 540px;
    }
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

nav {
    padding: 1rem;
    background-color: $primary;

    .display__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 300px;
        }
    }
}

header {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background_header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .content__header {
        max-width: 709px;
        text-align: center;

        .title__header {

            h1 {
                font-size: 600;
                font-size: 3rem;
                color: #FFF;
                text-transform: uppercase;
            }

            h2 {
                margin-top: 36px;
                font-weight: 300;
                font-size: 2rem;
                line-height: 3rem;
                text-transform: uppercase;
                color: #FFF;

                max-width: 505px;
                margin: 0 auto;
            }
        }

        .description__header {
            margin-top: 5.5rem;

            p {
                font-weight: 300;
                font-size: 1.25rem;
                line-height: 1.875rem;
                color: #FFF;
            }
        }

        .arrow-down {
            margin-top: 60px;
        }
    }

    @media screen and (max-width: 576px) {
        padding: 0 1rem;
    }
}

section {

    padding: 65px 0;

    @import "_strategies.scss";

    &.how__works {
        background: url(../images/stoke_logo.png) #000000;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 200px;

        .container__section {
            .title__how__works {
                font-weight: 400;
                font-size: 2rem;
                line-height: 3rem;
                color: #FFF;
                text-align: center;
                margin-bottom: 3px;
            }
            .description__how__works {
                font-weight: 300;
                font-size: 1.25rem;
                color: #FFF;
                text-align: center;
                max-width: 709px;
                margin: 0 auto;
                margin-bottom: 89px;
            }

            .container__how__works {
                .display__how__works {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    justify-content: center;
                    align-items: center;
                    gap: .75rem;

                    @media screen and (max-width: 992px) {

                    }

                    @media screen and (max-width: 768px) {
                        
                    }

                    @media screen and (max-width: 576px) {
                        grid-template-columns: 1fr;
                    }

                    .content__how__works {
                        display: grid;
                        background-color: #212121;
                        padding: 20px 37px 29px 37px;
                        margin-top: 2rem;
                        max-width: 412px;
                        border-radius: 19px;
                        position: relative;
                        height: 100%;

                        @media screen and (max-width: 576px) {
                            padding-top: 4rem;
                        }

                        &::before{
                            content: '';
                            position: absolute;
                            width: 30px;
                            height: 80px;
                            background-color: #000;
                            left: 0px;
                            bottom: 50%;
                            transform: translateY(50%);
                            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                        }

                        &::after{
                            content: '';
                            position: absolute;
                            width: 30px;
                            height: 80px;
                            background-color: #212121;
                            right: -29px;
                            bottom: 50%;
                            transform: translateY(50%);
                            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                            z-index: 1;

                            
                        }

                        &:first-of-type {
                            &::before{
                                display: none;
                            }
                        }

                        &:last-of-type {
                            &::after{
                                display: none;
                            }
                        }

                        &:nth-of-type(even) {
                            background-color: #141414;

                            &:after {
                                background-color: #141414;
                            }
                        }

                        @media screen and (max-width: 576px) {
                            &::before{
                                content: '';
                                position: absolute;
                                width: 80px;
                                height: 30px;
                                background-color: #000;
                                left: 50%;
                                top: 0;
                                transform: translateX(-50%);
                                clip-path: polygon(50% 100%, 0 0, 100% 0);
                            }

                            &::after{
                                content: '';
                                position: absolute;
                                width: 80px;
                                height: 30px;
                                background-color: #212121;
                                left: 50%;
                                bottom: -28px;
                                transform: translateX(-50%);
                                clip-path: polygon(50% 100%, 0 0, 100% 0);
                                z-index: 1;
                            }
                        }

                        .icon__how__works {
                            background-color: $primary;
                            height: 84px;
                            width: 84px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 auto;
                        }

                        h4 {
                            color: #FFF;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                            text-align: center;
                            margin-top: 20px;
                            margin-bottom: 15px;
                        }
                        p {
                            font-weight: 300;
                            font-size: 0.9rem;
                            text-align: center;
                            color: #FFF;
                        }
                    }
                }
            }

            .experts__how__works {
                margin-top: 6.25rem;

                h2 {
                    color: #FFF;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 48px;
                    text-align: center
                }

                .display__experts {
                    margin-top: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.5rem;

                    @media screen and (max-width: 576px) {
                        flex-direction: column;
                    }

                    .expert{
                        .img__expert {
                            max-width: 100%;
                            height: auto;

                            filter: grayscale(1);
                            transition: all 0.3s ease-out;

                            &:hover {
                                filter: grayscale(0);
                            }
                        }
                        
                        .expert__info {
                            background-color: #212121;
                            padding: 33px 5rem;
                            text-align: center;

                            h4 {
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 25px;
                                text-transform: uppercase;
                                
                                &.frist {
                                    color: $primary
                                }

                                &.second {
                                    color: $primary
                                }
                            }

                            span {
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 25px;
                                text-align: center;
                                color: #FFF;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    @import "_rating_google.scss";

    &.testimonials {
        padding: 120px 0;
        background-color: $primary;

        .swiper-container{
            height: 350px !important;
        }
        .swiper-wrapper{
            align-items: center !important;
        }
        .swiper-slide{
            max-width: 426px !important;
            width: 100%;
            height: 200px !important;
            border-radius: 7px !important;

            @media screen and (max-width: 576px){
                width: 250px !important;
            }
        }
       
    }

    @import "_section_footer.scss";
    
}

footer {
    
    .footer{
        background: #212121;
        padding: 65px 0;

        .logo__footer {
            max-width: 243px;

            @media screen and (max-width: 576px) {
                margin: 0 auto;
                text-align: center;
                margin-bottom: 2rem;
            }
        }

        .info__footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr;
            }
    
            a {
                text-decoration: none;
                color: #FFF;
                font-weight: 300;
                font-size: 1.15rem;
                line-height: 33px;
                max-width: 620px;
                display: inline-block;
                margin-top: 1rem;

                @media screen and (max-width: 576px) {
                    text-align: center;
                }
            }
    
            .buttons {
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: column;

                @media screen and (max-width: 576px) {
                    align-items: center;
                    margin-top: 2rem;
                }
    
                a {
                    color: #FFF;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 22.5px;
                    text-transform: uppercase;
                    padding: 10px 30px;
                    border-radius: 10rem;
                    border: solid 1px $primary;
                    margin-bottom: 1rem;
                    display: inline-block;
                }
            }
        }
    }

    .copy {
        background-color: #000;
        padding: 48px 0;

        p {
            color: #FFF;
            text-align: center;
        }
    }
}

.whatsapp__button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;

    a {
        text-decoration: none;

        .content__whatsapp {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
    
            .box__info {
                background-color: #E8E8E8;
                border-radius: 17px;
                max-width: 350px;
                padding: 14px;
                text-align: center;
    
                h4 {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #060606;
                }
            }
            
        }
    }
}

#oi {
    background-color: #FFF;
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-width: 426px;
    border-radius: 9px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    .info__pessoa {
        display: flex;
        gap: .5rem;

        .photo {
            height: 35px;
            width: 35px;
            border-radius: 10rem;
        }
        .info__name {
            display: grid;

            p {
                font-size: 0.7rem;
                margin-bottom: 0;
            }
            span {
                margin-top: 0;
                font-size: 0.5rem;
            }
        }
    }

    .stars {
        p {
            font-size: 0.5rem;
        }
    }
    .description {
        p {
            font-size: 0.85rem;
        }
    }
}