@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/banner_header.jpg");
  background: linear-gradient(0deg, #242424, #000000);
}
header .content__header {
  max-width: 709px;
  text-align: center;
}
header .content__header .title__header h1 {
  font-size: 600;
  font-size: 3rem;
  color: #FFF;
  text-transform: uppercase;
}
header .content__header .title__header h2 {
  margin-top: 36px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: #FFF;
  max-width: 505px;
  margin: 0 auto;
}
header .content__header .description__header {
  margin-top: 5.5rem;
}
header .content__header .description__header p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #FFF;
}

section {
  padding: 65px 0;
}
section.strategies__section {
  background-color: #333333;
}
section.strategies__section .container__section .strategies__title {
  color: #FFF;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2.625rem;
}
section.strategies__section .container__section .container__strategies {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
section.strategies__section .container__section .container__strategies .display__strategies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
section.strategies__section .container__section .container__strategies .display__strategies .content__strategies {
  background-color: #141414;
  border: solid 1px #DECE84;
  border-radius: 19px;
  padding: 0 2.5rem 2.5rem;
  margin: 3.9375rem 0;
}
section.strategies__section .container__section .container__strategies .display__strategies .content__strategies:nth-of-type(even) {
  background-color: #212121;
}
section.strategies__section .container__section .container__strategies .display__strategies .content__strategies .icon__strategies {
  background-color: #DECE84;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  margin: -42px auto 22.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.strategies__section .container__section .container__strategies .display__strategies .content__strategies .info__strategies .title__strategies {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;
  text-align: center;
  color: #FFF;
  margin-bottom: 18.45px;
}
section.strategies__section .container__section .container__strategies .display__strategies .content__strategies .info__strategies .description__strategies {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 25px;
  align-items: center;
  color: #FFF;
  text-align: center;
}
section.how__works {
  background-color: #060606;
}
section.how__works .container__section .title__how__works {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #FFF;
  text-align: center;
  margin-bottom: 3px;
}
section.how__works .container__section .description__how__works {
  font-weight: 300;
  font-size: 1.25rem;
  color: #FFF;
  text-align: center;
  max-width: 709px;
  margin: 0 auto;
  margin-bottom: 89px;
}
section.how__works .container__section .container__how__works .display__how__works {
  display: grid;
  grid-template-columns: repeat(2, 412px);
  row-gap: 3rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
section.how__works .container__section .container__how__works .display__how__works .content__how__works {
  display: grid;
  background-color: #212121;
  padding: 20px 47px 79px 47px;
  margin-top: 2rem;
  max-width: 412px;
  border-radius: 19px;
  position: relative;
  height: 100%;
}
section.how__works .container__section .container__how__works .display__how__works .content__how__works::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #212121;
  left: 50%;
  bottom: -39px;
  transform: translateX(-50%);
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}
section.how__works .container__section .container__how__works .display__how__works .content__how__works .icon__how__works {
  background-color: #DECE84;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
section.how__works .container__section .container__how__works .display__how__works .content__how__works h4 {
  color: #FFF;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
section.how__works .container__section .container__how__works .display__how__works .content__how__works p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  text-align: center;
  color: #FFF;
}
section.rating__google {
  background: linear-gradient(0deg, #242424, #000000);
}
section.rating__google .container__section .header__rating__google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 77px;
}
section.rating__google .container__section .header__rating__google .title__rating__google h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  color: #FFF;
  max-width: 367px;
}
section.rating__google .container__section .container__rating__google {
  max-width: 1140px;
  margin: 0 auto;
}
section.rating__google .container__section .container__rating__google .display__rating_google {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
section.rating__google .container__section .container__rating__google .display__rating_google .content__rating__google {
  max-width: 300px;
}
section.rating__google .container__section .container__rating__google .display__rating_google .content__rating__google .icon__rating__google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
section.rating__google .container__section .container__rating__google .display__rating_google .content__rating__google .info__rating__google {
  background: #212121;
  border: solid 1px #DECE84;
  border-radius: 19px;
  padding: 37px 13.67px 26.95px 13.67px;
}
section.rating__google .container__section .container__rating__google .display__rating_google .content__rating__google .info__rating__google p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  text-align: center;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */